<h1>Washington DC</h1>
<div class="container">
	<div class="row mb-4">
		<div class="col">
			<p>Humidity: {{weather_data.main.humidity}}</p>
			<p>Temperature: {{weather_data.main.temp}} K</p>
			<p>Status: {{weather_data.weather[0].main}}</p>
		</div>
		<div class="col">
			<img width="100%" height="100%" src="https://images.pexels.com/photos/62318/washington-d-c-statue-sculpture-the-peace-monument-62318.jpeg?cs=srgb&dl=arches-architecture-building-62318.jpg&fm=jpg" alt="seattle">
		</div>
	</div>
</div>